<footer style="background-color:blue">
    <h3 style="background-color:red">ASP.NET Course Training</h3>
    <fieldset>
        <legend>Welcome Guys We Are Studying ASP.NET Core</legend>
        *HTML Helpers
        *Tag Helpers
        *Partial Views
    </fieldset>
</footer>